<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
	<bean name="student1" id="student1" class="org.learn.Student">
		<property name="studentId">
			<value>1</value>
		</property>
		<property name="studentName">
			<value>Prince Kumar</value>
		</property>
		<property name="studentAddress">
			<value>Kolkata</value>
		</property>
	</bean>
</beans>